@using HairSalon.Models;
<div class="row">
    <div class="col-md-4">
        <div>
            <p><a class="btn btn-info" href="/customers/new">Add a customer</a></p>
            <p><a class="btn btn-info" href="/">Back home</a></p>
        </div>
    </div>
    <div class="col-md-4">
        <div>
            @foreach(Customer customer in Model)
            {
                <a href="/customers/@customer.GetId()">@customer.GetName()</a>
            }
        </div>
    </div>
    <div class="col-md-4">
        
    </div>
</div>