@using HairSalon.Models
@{
  Layout="_Layout";
}
<div class="header">
  <h1 class="title">Add New Customer</h1>
</div>
<hr>
<div>
  <div>
    <form action="/employees/@Model.GetId()/customers" method="post">
      <input id="employee_id" name="employee_id" type="hidden" value="@Model.GetId()">
      <label for="name">Name</label>
      <input id="name" name="name" type="text" required>
      <br>
      <button class="btn btn-info" type="submit">Submit</button>
    </form>
  </div>
</div>

<a class="btn btn-success" href="/employees/@Model.GetId()">Back to Customers</a>
