@using HairSalon;
@{
  Layout="_Layout";
}
<div class="header">
  <h1>@Model["customer"].GetName() @Model["employee"].GetName()</h1>
</div>

<p>Address: @Model["customer"].GetAddress()<p>

<a href='/employees/@Model["empoyee"].GetId()/customers/@Model["customer"].GetId()/edit'>Edit</a>
<form action='/employees/@Model["empoyee"].GetId()/customers/@Model["customer"].GetId()/delete' method="post">
  <button class="delete" type="submit">Delete</button>
</form>
<a href='/employees/@Model["empoyee"].GetId()/'>Back to Cusomers</a>
