@using HairSalon;
@{
  Layout="_Layout";
}
<div class="header">
  <div class="left">
    <form action='/employees/@Model["employee"].GetId()/customers/@Model["customer"].GetId()/delete' method="post">
      <button class="btn btn-danger" type="submit">Delete</button>
    </form>
  </div>
  <h1>Customer: @Model["customer"].GetName()</h1>
  <div class="right">
    <h1>Stylist: @Model["employee"].GetName()</h1>
  </div>
</div>
<hr>
<p><a class="btn btn-warning" href='/employees/@Model["employee"].GetId()/customers/@Model["customer"].GetId()/edit'>Edit</a></p>
<p><a class="btn btn-success" href='/employees/@Model["employee"].GetId()/'>Back to Cusomers</a></p>

