body {
    padding: 50 px;
    background-color: rgb(214, 192, 192);
}

.header {
    text-align: center;
    height: 100px;
}

.title {
    font-size: 50px;
    font-family: 'Srisakdi', cursive;
    margin: 50px;
}

a {
    height: 50px;
    padding: 0 1em;
    width: 150px;       
    text-decoration: none;
    font-weight: bold;
    color: black
}
form {
    margin-bottom: 30px;
}

input {
    width: 450px;
    margin-bottom: 10px;
}

.generated {
    background-color: rgb(109, 142, 202);
    color: black;
}

.navigate {
    position: fixed;
    bottom: 0;
    left: 30px;
    border: 1px solid black;
    height: 150px;
    width: 250px;
    padding-bottom: 30px;
    padding-left: 15px;
    padding-top: 15px;
    
}

.left {
    left: 110px;
    position: absolute;
}

.right {
    right: 110px;
    position: absolute;
}
.center {
    text-align: center;
    padding: 15px;
}

.green{
    background-color: rgb(145, 172, 133)
}
.half-panel{
    width: 200px;
}

.btn{
    margin-top: 10px;
}

.tooBig {
    /* margin-top: 45px; */
    height: 400px;
}

.gray {
    background-color: rgb(117, 117, 117)
}

.topRowShow {
    height: 250px;
}