@using HairSalon.Models;
@{
    Layout="_Layout";
}

<div class="header">
    <h1 class="title">Home Index</h1>
</div>
<div class="row">
    <div class="col-md-3">
    </div>
    <div class="col-md-2 center">
         <a href="/employees"><div class="well green">
           <p>View All Employees</p>
        </div></a>
    </div>
    <div class="col-md-2 center">
         <a href="/customers"><div class="well green">
           <p>View All Customers</p>
        </div></a>
    </div>
    <div class="col-md-2 center">
         <a href="/specialties"><div class="well green">
           <p>View All Specialties</p>
        </div></a>
    </div>
    <div class="col-md-3">
    </div>
</div>