@using HairSalon.Models;
@{
    Layout="_Layout";
}

<div>
    <div class="row">
        <div class="col-md-6 header">
            <h1 class="title">Your Barbershop</h1>
        </div>
    </div>
    
</div>
<div class="row">
    <div class="col-md-1">
    </div>
    <div class="col-md-2 center">
         <a href="/employees"><div class="well green">
           <p>Manage your employees</p>
        </div></a>
        <a href="/customers"><div class="well green">
           <p>Keep track of your customers</p>
        </div></a>
    </div>
    <div class="col-md-2 center">
         <a href="/specialties"><div class="well green">
           <p>View All Specialties</p>
        </div></a>
        <div id="welcome">
            <h3 class="title">Welcome home</h3>
        </div>
    </div>
    <div class="col-md-1">

    </div>
    <div class="col-md-4">
        <img src="~/img/barbershop.png" class="tooBig">
    </div>
</div>
