@using BestRestaurants.Models;
@{
  Layout="_Layout";
}
<div class="header">
  <h1 class="title">Edit Cuisine</h1>
</div>
<form action="/cuisines/@Model.GetId()" method="post">
  <label for="type">Type</label>
  <input id="type" name="type" type="text" value="@Model.GetCuisineType()">
  <button type="submit">Submit</button>
</form>

<a href='/cuisines'>Go back to cuisines</a>
