@using HairSalon.Models;
@{
  Layout="_Layout";
}
<div class="header">
  <h1 class="title">EMPLOYEE INDEX</h1>
</div>
<hr>
<div class="row">
  <div class="col-md-4">
    <p><a class="btn btn-success" href="/employees/new">Add new employee</a></p>
  </div>
  <div class="col-md-4">
    @if(Model.Count==0)
    {
      <p>Consider hiring an employee.</p>
    }
    @if(Model.Count!=0)
    {
      @foreach(Employee employee in Model)
      {
        <p><a class="btn btn-info" href="/employees/@employee.GetId()">@employee.GetName()</a></p>
      }
    }
  </div>
  <div class="col-md-4">
    
  </div>
</div>


  