@using HairSalon.Models;
@{
  Layout="_Layout";
}
<div class="header">
  <h1 class="title">@Model["employee"].GetName()</h1>
</div>
@if(Model["customers"].Count == 0)
{
  <p>No customers found for this Employee</p>
}
@if(Model["customers"].Count != 0)
{
  @foreach(Customer customer in Model["customers"])
  {
    <p><a class="generated" href="/employees/@Model["employee"].GetId()/customers/@customer.GetId()">@customer.GetName()</a></p>
  }
}
<p><a href="/employees/@Model["employee"].GetId()/customers/new">Add customer</a><p>
<p><a href="/employees/@Model["employee"].GetId()/edit">Edit employee</a></p>
<p><a href="/employees">Go back to Employees</a></p>
<form action='/employees/@Model["employee"].GetId()/delete' method="post">
  <button type='submit'>Delete</button>
</form>
